/* #first-para{
    background: red;
    height: 200px;
    width: 200px;
    border: 4px solid gold;
} */


body{
    background: rgb(13, 0, 44);
}

.search #usrInput{
    padding: 15px;
    border-radius: 8px;
    background: rgb(255, 248, 248);
    color: rgb(255, 17, 0);
    border: none;
}

.search .btn{
    border: none;
    padding: 13px 24px;
    border-radius: 15px;
    margin-top: 10px;
    background: red;
    color: white;
    cursor: pointer;
}

.search{
    text-align: center;
    
}




.search .btn:hover{
    background: rgb(155, 0, 0);
}


.search h2{
    color: rgb(0, 162, 255);
}


h4{
    color: red;
    margin-top: 200px;
    text-align: center;
}

.search h1{
    color: white;
}



.circle{
    width: 70px;
    height: 70px;
    border: 5px solid rgb(0, 217, 255);
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}